.caixa{
    background-color: lightblue;
    margin-bottom: 20px;
    border-style: solid;
    padding: 10px;
}

.caixa-interna{
    background-color: lightgreen;
    border-style: solid;
    padding: 10px;
    margin-bottom: 5px;


}

.cabecalho{
    background-color: orange;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
}

.img-cabecalho{  
    background-color: yellow;
    text-align: center;
}

.barra-menu{
    background-color: green;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20;
    text-align: center;
}

.texto-apresentacao{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-menu{
    background-color: yellow;
    border-style: solid;
    padding: 8px;
    margin-bottom: 5px;
}