body {
    display: solid;
    border-style: solid;
    border-width: 4px;
    margin: 0px;

    padding: 20px;

}

p {
    display: block;

    border-style: solid;
    border-width: 5px;
    border-color: blue;

    padding: 15px;

    margin-bottom: 4px;
    margin-top: 0px;
}
